<section>
	<h4 class="divider">Summary</h4>
	<div class="info">
		<span>Count of Tables</span>
		<span>{{ tableCount }}</span>
	</div>
	{{!-- <div class="info">
		<span>Your Total Rows</span>
		<span>{{ userRowCount }}</span>
	</div>
	<div class="info">
		<span>Your Private Rows</span>
		<span>{{ userPrivateRowCount }}</span>
	</div>
	<div class="info">
		<span>Global Row Count</span>
		<span>{{ globalRowCount }}</span>
	</div> --}}
</section>

<section>
	<h4 class="divider">Controls</h4>
	{{#each controls as | btn |}}
		<button
			type="button"
			data-action="{{ btn.action }}"
		>
			{{ btn.label }}
		</button>
	{{/each}}
</section>
